@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #f9f9f9;
    --background-dark: #121212;
    --foreground-light: #000000;
    --foreground-dark: #ffffff;
    --accent-blue: #003fcc;
    --accent-darkblue: "#B0B3B8";
    --accent-darkwhite: "#3e3e42";
}

body {
    margin: 0;
    font-family: "Inter", sans-serif; /* 전역 폰트 */
    font-size: 17px; /* 기본 폰트 크기 */
    font-weight: 400;
    background-color: var(--background-light); /* 기본 배경색 */
    color: var(--foreground-light); /* 기본 글자색 */
    transition:
        background-color 0.3s,
        color 0.3s; /* 부드러운 전환 */
}

/* 다크 모드 */
.dark body {
    background-color: var(--background-dark);
    color: var(--foreground-dark);
}

.button {
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 15px;
    font-weight: semibold;
    color: white;
    user-select: none;
    cursor: pointer;
    background: var(--accent-blue);
    width: 120px;
}

.dark .button-res {
    background: #b0b3b8;
    color: black;
}

.button-prj {
    color: black;
    background: white;
    border: 2px solid black;
}

.button-rs {
    font-weight: lighter;
    background: #6e6d70;
}

.button-rs-pdf {
    background: #ae633f;
}

.dark .button-rs-pdf {
    color: black;
    background: white;
    border: 2px solid black;
}

button.round {
    background-color: #be5b47;
    color: white;
    border: none;
    font-size: 45px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
button.round:hover {
    background-color: #c26754;
}
.dark button.round {
    background-color: #3e3e42;
}

button.round:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
