body {
  background-color: #e6dace;
}

button.round {
  background-color: #be5b47;
  color: white;
  border: none;
  font-size: 45px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
button.round:hover {
  background-color: #c26754;
}

button.round:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
